NODE_ENV=development
PORT=4000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/a5x_db?retryWrites=true&w=majority

# JWT
JWT_SECRET=minimum_32_characters_long_secret_key
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:5173

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
